<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Admin/Controller/Action">
          <match url="^Admin/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/wwwroot" negate="true" />
            <add input="{REQUEST_URI}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Areas/Admin/Views/{R:1}/{R:2}.asp" />
        </rule>
        <rule name="Admin/Controller">
          <match url="^Admin/([_0-9a-z-]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/wwwroot" negate="true" />
            <add input="{REQUEST_URI}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Areas/Admin/Views/{R:1}/index.asp" />
        </rule>
        <rule name="^([_0-9a-z-]+)/([_0-9a-z-]+)$" enabled="true">
          <match url="^([_0-9a-z-]+)/([_0-9a-z-]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/wwwroot" negate="true" />
            <add input="{REQUEST_URI}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Views/{R:1}/{R:2}.asp" />
        </rule>
        <rule name="^([_0-9a-z-]+)$" enabled="true">
          <match url="^([_0-9a-z-]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/wwwroot" negate="true" />
            <add input="{REQUEST_URI}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Views/{R:1}/Index.asp" />
        </rule>
        <rule name="^$" enabled="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/wwwroot" negate="true" />
            <add input="{REQUEST_URI}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/views/home/index.asp" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <add value="index.asp" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>