body {
    background-color: #ffffff;
    margin: 0;
    font: 12px/16px Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #006699;
    font: 12px/16px Arial, sans-serif;
}

    a img {
        border: 0;
    }

h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #000 !important;
}

h3 {
    font-size: 18px;
    color: #cc6600;
    margin: 15px 0 0 0;
    font-weight: normal;
}

h4 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

p {
    margin: 4px 0 0 0;
    font: 12px/16px Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
    font-size: 12px;
    line-height: 16px;
    font-family: Arial, sans-serif;
}

/* container */
#container {
    width: 640px;
    color: #333;
    margin: 0 auto;
}

    #container .frame {
        padding: 0 20px 20px 20px;
    }

/* content tables */
#main, #header, #summary, #desiredInformation, #orderDetails, #itemDetails, #costBreakdown,
#selfService, #closing, #marketingContent, #legalCopy {
    width: 100%;
}

    /* header */
    #header .logo {
        width: 115px;
        padding: 18px 0 0 0;
        color: #bdb4aa;
        font-size: 15px;
    }

    #header .navigation {
        text-align: right;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
        white-space: nowrap;
    }

        #header .navigation a {
            border-right: 0px solid #CCC;
            margin-right: 0px;
            padding-right: 0px;
        }

        #header .navigation span {
            text-decoration: none;
            color: #CCC;
            font-size: 15px;
            font-family: Arial, sans-serif;
        }

        #header .navigation a.last {
            border: 0;
            margin: 0;
            padding: 0;
        }

    #header .title {
        text-align: right;
        padding: 7px 0 5px 0;
    }

        #header .title img {
            padding: 0 4px 0 0;
        }

    /* summary */
    #summary a {
        text-decoration: none;
        color: #006699;
    }

    #summary p {
        margin: 5px 0 0 0;
    }

/* critical info */
#criticalInfo {
    border-top: 3px solid #2d3741;
    width: 95%;
}

    #criticalInfo td {
        font-size: 14px;
        padding: 11px 18px 18px 18px;
        background-color: #efefef;
        width: 50%;
    }

    #criticalInfo .label {
        color: #666;
    }

    #criticalInfo p {
        margin: 2px 0 9px 0;
    }

    #criticalInfo span {
        color: #666;
    }

    #criticalInfo a {
        font-size: 11px;
        color: #006699;
        text-decoration: none;
    }

#cancelOrder p {
    font: 11px/ 16px Arial, sans-serif;
    color: rgb(51, 51, 51);
}
/* desiredInformation */
#desiredInformation a {
    text-decoration: none;
    color: #006699;
}

/* buttons */
.button {
    text-decoration: none !important;
    display: block;
    height: 26px;
    display: inline-block;
    margin: 0 0 2px 0;
}

    .button.small {
        height: 20px;
    }

    .button .expandable {
        float: left;
        overflow: hidden;
    }

    .button .text {
        color: #000f68;
        font-size: 12px;
        position: relative;
        z-index: 10;
        top: -22px;
        left: -12px;
        text-align: center;
    }

    .button.secondary .text {
        left: 0;
    }

    .button.small .text {
        top: -20px;
        left: 0;
        font-size: 11px;
    }

/* supporting details */
#supportingDetails {
    font-size: 11px;
    color: #666;
    line-height: 14px;
    margin: 10px 20px;
}

#supportingDetails {
    margin: 0 18px 0 18px;
}

/* order details */
#orderDetails h3 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
}

#orderDetails .frame {
    padding: 16px 20px 6px 20px;
}

#orderDetails .orderDate {
    color: #666666;
    font-size: 12px;
}

#orderDetails span {
    font-size: 12px;
    color: #666;
}

#orderDetails p {
    margin: 2px 0 9px 0;
}

/* item details */
#itemDetails {
    width: 95%;
}

    #itemDetails .photo {
        width: 150px;
        text-align: center;
        padding: 16px 0 10px 0;
    }

        #itemDetails .photo .play img {
            margin: 3px 0 0 0;
        }

    #itemDetails .name {
        color: #666;
        padding: 10px 0 0 0;
    }

    #itemDetails ul {
        margin: 0;
        padding: 0;
    }

        #itemDetails ul li {
            list-style-type: none;
            line-height: 14px;
            padding: 0 0 4px 0;
        }

            #itemDetails ul li a {
                font-size: 14px;
            }

    #itemDetails .name p {
        margin: 0;
        padding: 10px 0 0 0;
        font-size: 12px;
        line-height: 14px;
    }

        #itemDetails .name p a {
            text-decoration: none;
            color: #006699;
        }


    #itemDetails .name .share {
        margin: 3px 0 15px 0;
    }

        #itemDetails .name .share a {
            margin: 4px 5px 0 0;
            font-size: 0;
        }

    #itemDetails .name .supportingDetails,
    #itemDetails .name .supportingDetails a {
        margin: 8px 0 0 0;
        font-size: 12px;
    }

    #itemDetails .price {
        text-align: right;
        font-size: 14px;
        padding: 10px 10px 0 10px;
        white-space: nowrap;
    }

        #itemDetails .price a {
            text-decoration: none;
            color: #006699;
        }

    #itemDetails .divider {
        border-top: 1px solid #eaeaea;
        padding: 0 0 16px 0;
    }

    #itemDetails .name table {
        border-collapse: separate;
    }

/* cost breakdown */
#costBreakdow {
    width: 95%;
}

#costBreakdown td {
    text-align: right;
    line-height: 18px;
    padding: 0 10px 0 0;
}

#costBreakdown .divider {
    border-top: 1px solid #eaeaea;
    padding: 0 0 16px 0;
}

#costBreakdown .end {
    padding: 0 0 16px 0;
}

#costBreakdown .price {
    width: 150px;
}

#costBreakdown .total {
    font-size: 14px;
    font-weight: bold;
    font: 12px/ 16px Arial, sans-serif;
}

/* additional shipments */
#additionalShipments {
    font-size: 11px;
}

    #additionalShipments h3 {
        margin: 10px 0 0 0;
    }

    #additionalShipments p {
        margin: 10px 20px 0px 20px;
    }

    #additionalShipments .orderDate {
        color: #666666;
        font-size: 12px;
    }

    #additionalShipments .details {
        padding: 10px 20px 10px 20px;
    }

        #additionalShipments .details .label {
            color: #666666;
            font-weight: bold;
        }

        #additionalShipments .details .edd, #additionalShipments .details .quantity {
            font-weight: bold;
        }

/* self service */
#selfService .divider {
    border-top: 1px solid #ccc;
    padding: 0 0 16px 0;
}

#selfService a {
    text-decoration: none;
    color: #006699;
}

/* closing */
#closing {
    padding: 0 0 0 0;
    border-collapse: collapse;
}

    #closing p {
        padding: 0 0 20px 0;
        border-bottom: 1px solid #eaeaea;
        margin: 10px 0 0 0;
    }

    #closing .signature {
        font-size: 16px;
        font-weight: bold;
    }

    #closing a {
        text-decoration: none;
        color: #006699;
    }

/* marketing content */
#marketingContent {
    border-bottom: 1px solid #eaeaea;
    border-collapse: collapse;
    padding: 0;
}

    #marketingContent td.recs {
        padding: 10px 0;
    }

    #marketingContent td.right {
        padding: 10px 15px 10px 0;
    }

    #marketingContent td.left {
        padding: 10px 0 10px 15px;
    }

#middleCenterMC {
    text-align: center;
}

    #middleCenterMC img {
        width: 85%;
    }

/* legal copy */
#legalCopy td {
    padding: 20px 0 0 0;
}

#legalCopy p {
    font-size: 11px;
    color: #666;
    line-height: 16px;
    margin: 0 0 10px 0;
    font: 11px;
}

#legalCopy a {
    font: 11px/16px Arial, sans-serif;
    text-decoration: none;
    color: #006699;
}


/* reg fee */
#regFee td {
    /*colspan: "2";*/
    border-top: 1px solid #ccc;
}

/* html button */

.link {
    color: rgb(17, 17, 17) !important;
    text-decoration: none !important;
    font: 16px/ 18px Arial, sans-serif !important;
    padding: 10px 12px;
    line-height: 1.5;
    border-radius: 10px;
    border-bottom-color: #FF0;
    background: #F0C14B linear-gradient(#F7DFA5, #F0C14B) repeat scroll 0% 0%;
}

.auto-style1 {
    width: 46%;
}
